/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #f274ac;
}
nav .navbar-brand .red
{
    color: #A51C30;
}

.navbar{
    font-size: large;
    font-family: Serif;
}



.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

/*  Code from https://www.w3schools.com/css/css3_gradients.asp */
  #background {
    font-family: Serif;
  }

  #pic {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
  }

  #likebutton {
    height: 50px;
    width: 50px;
  } 

  .title {
    color:#f274ac;
  }