{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <div id="apology">
        <h2 id="error">
            Oops! You're encountered a {{top}} error: <br>
        </h2>    
        <h3 id="errormessage">
            {{bottom}}
            <br><br>
        </h3>
        <!-- Gif via https://tenor.com/view/broken-heart-heart-heartache-heartbreak-gif-18795272-->
        <img src="static/icons/brokenheart.gif" width="500" height="400" alt="Broken Heart" id="pic">
    </div>
{% endblock %}
