{% extends "layout.html" %}

{% block title %}
    Collage
{% endblock %}

{% block main %}

<object data="media/drop.avi" width="360" height="250"> 
    <param name="src" value="media/drop.avi" /> 
    <embed type="video/x-ms-wm" src="media/drop.avi" width="360" height="250"></embed>
</object>

    <div class="row">
        <div class="column">
            {% for i in [0,1,2] %}
                <img src= {{prefix + imgs[i]}}>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in [3,4,5] %}
                <img src= {{prefix + imgs[i]}}>
            {% endfor %}
        </div>
        <div class="column">
            {% for i in [6,7,8] %}
                <img src= {{prefix + imgs[i]}}>
            {% endfor %}
        </div>
    </div>
{% endblock %}
