{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<div id="background">
    <h2 class="title">{{ username }}'s tour of {{ location }} <3</h2>
    {% for key, value in imgs.items() %}
        <form action="/" method="post">
            <div id="border">
                <img src= {{prefix + key}} width="400" height="400" alt="Photo" id="pic">
                {% if not key in likes%}
                    <!---heart from https://tenor.com/view/animation-gif-8779179-->
                    <input type="image" value={{key}} name="upvote" id="likebutton" src="./static/photos/heart.gif"> </button>
                {% endif %}
                    {{value}} {{'like' if value == 1 else 'likes'}} 
                <br> <br>
            </div>
        </form>
        <br>
    {% endfor %}
</div>
{% endblock %}
