{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h2>{{ username }}'s tour of campus! <3</h2>
    {% for key, value in imgs.items() %}
        <form action="/" method="post">
            <img src= {{prefix + key}} width="400" height="400" alt="Photo">
            {% if not key in likes %}
                <button class="btn btn-primary" type="submit" value={{key}} name="upvote"> like! </button>
            {% endif %}
            {{value}} people liked this picture!
        </form>
        <br>
    {% endfor %}
{% endblock %}
