{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <h2 class="title">Upload a picture of _____! <3</h2> <br>
    <form action="/upload" enctype="multipart/form-data" method="POST">
        <div class="mb-3">
            <!--- Below Code From https://www.w3schools.com/howto/howto_html_file_upload_button.asp --->
            <form action="/action_page.php">
                <input type="file" id="file" name="file" accept="image/*">
                <input type="submit">
            </form>
    </form>
{% endblock %}
